{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        <a href={% url 'update_article' article_detail.id %}>UpdateArticle</a>
    {% endif %}
    <div>
        <ul>
            <li>{{ article_detail.id }}</li>
            <li>{{ article_detail.title }}</li>
            <li>{{ article_detail.text }}</li>
        </ul>
    </div>
    <div>
        <hr>
        {% csrf_token %}
        <form action="{% url 'detail' article_detail.id %}" method="POST">
            <div class="form-group ">
                <table class="table">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if form.errors %}
                                {#                                            {% for error in field.errors %}#}
                                {#                                                <div class="alert alert-danger">#}
                                {#                                                    <strong>{{ error|escape }}</strong>#}
                                {#                                                </div>#}
                                {#                                            {% endfor %}#}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {#                                                    <strong>{{ error|escape }}</strong>#}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">
                                    {{ field.help_text|safe }}  <!-- new code here -->
                                </small>
                            {% endif %}
                        </div>
                    {% endfor %}
                </table>
                <input type="submit" class="btn btn-primary" value="Додати коментарій"/>
            </div>
        </form>
        <p>This is already comments </p>
        <ul>
            {% for comment in comments %}
                <ol>
                    {{ comment.author.username }}
                    {{ comment.text }}
                    {{ comment.pub_date}}
                </ol>
            {% endfor %}
        </ul>
    </div>
{% endblock %}